<h1>Custom Filter And Custom OrderBy Example</h1>
<button type="button" (click)="resetFilters()" class="btn btn-secondary">
  Reset Filters
</button>
<input
  style="width: 250px; float: right"
  class="form-control"
  type="number"
  placeholder="Filter by number of subjects"
  (change)="onSearchChange($event)"
/>
<ag-grid-angular
  style="width: 100%; height: 500px; margin-top: 10px"
  class="ag-theme-alpine"
  rowModelType="serverSide"
  serverSideStoreType="partial"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [animateRows]="true"
  [rowData]="rowData"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="10"
  [cacheBlockSize]="10"
  multiSortKey="ctrl"
  [gridOptions]="gridOptions"
></ag-grid-angular>
